/*Google font styles link*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=WDXL+Lubrifont+TC&display=swap');

/*CSS Varibles*/
:root {
    --primary-font: 'WDXL Lubrifont TC', sans-serif;
    --secondary-font: 'Roboto', sans-serif;
    --primary-color: #94c079;
    /*olive green*/
    --secondary-color: #348230;
    /*dark olive green*/
    --highlight-color: #bcb4ac;
    /*light grey*/
    --highlight-color-light: #fbf4dc;
    /*light tan*/
}

body {
    background-color: var(--secondary-color);
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'WDXL Lubrifont TC', sans-serif;
    color: var(--highlight-color-light);
}

h1,
h2,
h3 {
    font-family: var(--secondary-font);
    color: var(--highlight-color-light);
}

p {
    color: var(--highlight-color-light);

}

/*Navbar*/
#navbar {
    background-color: var(--highlight-color-light);
}

#navbar .logo {
    width: 70px;
}

#hero-home {
    background-image: url(../images/homepage-hero.png.png);
    background-size: cover;
    background-position: 50% 40%;
    min-height: 500px;
    padding: 5% 4%;
    background-color: #dbdcde;
    /*light grey*/
}

/*Footer /Contact section */
#contact {
    background-color: var(--primary-color);
    color: white;
    padding-bottom: 3rem;
}

#contact h2 {
    color: white;
}

#contact .sub-heading-color {
    color: var(--highlight-color-light);
}

#contact i {
    color: var(--secondary-color);
    font-size: 1.5rem;
    padding-right: 15px;
}

#contact .social-links i {
    color: var(--highlight-color-light);
    font-size: 1.9rem;
    -webkit-transition: color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
}

#contact .social-links i:hover {
    color: var(--secondary-color);
}

#contact .table-dark * {
    background-color: transparent;
}