/*Google font styles link*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=WDXL+Lubrifont+TC&display=swap');

/*CSS Varibles*/
:root {
    --primary-font: 'WDXL Lubrifont TC', sans-serif;
    --secondary-font: 'Roboto', sans-serif;
    --primary-color: #94c079;
    /*olive green*/
    --secondary-color: #348230;
    /*dark olive green*/
    --highlight-color: #bcb4ac;
    /*light grey*/
    --highlight-color-light: #fbf4dc;
    /*light tan*/
}

body {
    background-color: var(--secondary-color);
    font-family: 'Roboto', sans-serif;
    padding-top: 57px;
    /*pushes the top of the header down under fixed navbar */
}

h1 {
    font-family: 'WDXL Lubrifont TC', sans-serif;
    color: var(--highlight-color-light);
}

h1,
h2,
h3 {
    font-family: var(--primary-font);
    color: var(--highlight-color-light);
}

p {
    color: var(--highlight-color-light);

}



.section {
    padding-top: 4rem;
    /*prevents navbar overlap*/
}

/*Navbar*/
#navbar {
    background-color: var(--highlight-color-light);
}

#navbar .logo {
    width: 70px;
}

/*links section*/

#links .card {
    margin-bottom: 1.5rem;
}

#links .sub-heading-color {
    color: var(--secondary-color);
}

#hero-home {
    background-image: url(../images/homepage-hero.png.png);
    background-position: 50% 40%;
    min-height: 500px;
    padding: 5% 4%;
    background-color: #dbdcde;
    /*light grey*/
}

#hero-coffee {
    background-image: url(../images/coffeehouse-hero.png.png);
    background-size: cover;
    background-position: 50% 40%;
    min-height: 500px;
    padding: 5% 4%;
    background-color: #dbdcde;
    /*light grey*/
}

/*drinks menu section*/

#coffee {
    background-color: var(--highlight-color);

}

#food {
    background-color: var(--primary-color);
}

.list {
    list-style-type: none;
}

#hero-game {
    background-image: url(../images/game-room-hero.png.png);
    background-size: cover;
    background-position: 50% 40%;
    min-height: 500px;
    padding: 5% 4%;
    background-color: #dbdcde;
    /*light grey*/
}

/*Footer /Contact section */
#contact {
    background-color: var(--primary-color);
    color: white;
    padding-bottom: 3rem;
}

#contact h2 {
    color: white;
}

#contact .sub-heading-color {
    color: var(--highlight-color-light);
}

#contact i {
    color: var(--secondary-color);
    font-size: 1.5rem;
    padding-right: 15px;
}

#contact .social-links i {
    color: var(--highlight-color-light);
    font-size: 1.9rem;
    -webkit-transition: color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
}

#contact .social-links i:hover {
    color: var(--secondary-color);
}

#contact .table-dark * {
    background-color: transparent;
}

/*Medium screen sizes (tablets, 768px and up)*/
@media screen and (min-width:768px) {

    /*Make all cards the same height for consistency*/
    #links .card-body {
        min-height: 191px;
    }
}

/*Large screen sizes ( small laptops, 992px and up)*/
@media screen and (min-width:992px) {

    /*Make all cards the same height for consistency*/
    #links .card-body {
        min-height: auto;
    }
}

/*Large screen sizes (XL desktops, 1200px and up)*/
@media screen and (min-width:1200px) {

    /*Make all cards the same height for consistency*/
    #links .card-body {
        min-height: 220px;
    }
}

/*large screen sizes (XXL desktops, 1400px and up)*/
@media screen and (min-width:1400px) {

    /*Make all cards the same height for consistency*/
    #links .card-body {
        min-height: 195px;
    }
}